# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv
venv/
env.bak/
*.conda
*.ipynb_checkpoints

# VSCode & IDE configs
.vscode/
.idea/

# Mac & system files
.DS_Store
Thumbs.db

# Logs and debug
*.log
logs/
logs

# checkpoints
*.pt
checkpoints/

# Experiment outputs
runs/
results/
**/*results*/
outputs/
models/
plots/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Cache
*.cache
__pycache__/
.cache/
*.egg-info/

# PyTorch Lightning & TensorBoard
lightning_logs/
*.ckpt
tb_logs/

# Temporary experiment files
*.tmp
*.bak


